.todo-search {
    width: 32rem;
    margin: 20px 0;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: gray;
    outline: none;
    transition: box-shadow 0.5s ease;
    opacity: 0.9;
}

.todo-search:hover {
    opacity: 1;
    border: none;
}