.todo-counter {
    background: rgb(133,7,218);
    background: linear-gradient(90deg, rgba(133,7,218,1) 43%, rgba(58,29,253,1) 83%);
    border-radius: 2rem;
    text-align: center;
}

.todo-counter:hover{
    transform: scale(0.95);
    transition: all 1s;
}