.todo-item {
    height: 3rem;
    padding: 0 5px;
    list-style: none;
    background: rgb(133,7,218);
    background: linear-gradient(90deg, rgb(7, 46, 218) 43%, rgb(141, 29, 253) 83%);
    border-radius: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: 2px 10px 14px -7px rgba(0,0,0,0.48);
    transition: all 0.5s ease;
}



.todo-item .check{
    margin-right: auto ;
    background-color: greenyellow;
    border-radius: 2px;
}

.todo-item .task{
    margin: auto auto;
}

.todo-item .edit{
    margin-left: auto;
    color: black;

}

.todo-item .delete{
    position: absolute;
    right: 30rem;
    color: red;
}