.Container-one {
  width: 45rem;
  height: 35rem;
  background-color: #262627;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.75);
  border-radius: 1rem;
  
  
}

